[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[build.args]
VITE_API_URL = "${{API_URL}}"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[service]
internalPort = 80
