[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[build.args]
VITE_API_URL = "https://api-production-b51d.up.railway.app"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
